# Smart Mirror Weather LED Config

HA_URL=http://192.168.200.119:30103
HA_TOKEN=PASTE_YOUR_NEW_LONG_LIVED_ACCESS_TOKEN_HERE

ENTITY_TEMP=sensor.openweathermap_temperature
ENTITY_FEELSLIKE=sensor.openweathermap_feels_like_temperature
ENTITY_HUMIDITY=sensor.openweathermap_humidity
ENTITY_FORECAST=weather.forecast_home

WLED_IP=192.168.200.123
WLED_PORT=21324

TOTAL_LEDS=554
LEFT_LEDS=217
TOP_LEDS=120
RIGHT_LEDS=217

FPS=20
TRAVEL_TIME_SECONDS=10
PAUSE_TIME_SECONDS=3
WEATHER_REFRESH_SECONDS=300

MIN_TEMP_F=0
MAX_TEMP_F=100

PRECIP_HOURS=18
PRECIP_MIN_VISIBLE_INCHES=0.01
PRECIP_FULL_BRIGHT_INCHES=0.25

GLOBAL_BRIGHTNESS=255
CURRENT_TEMP_BRIGHTNESS=255
FEELSLIKE_BRIGHTNESS=80
HIGH_TEMP_BRIGHTNESS=255
LOW_TEMP_BRIGHTNESS=255
PRECIP_BRIGHTNESS_MIN=25
PRECIP_BRIGHTNESS_MAX=180
COMET_BRIGHTNESS=255

COMET_LENGTH=6
COMET_TAIL_BRIGHTNESS=255,160,90,45,20,8
COMET_FADE_AT_END=true

ENABLE_NIGHT_DIMMING=false
NIGHT_START_HOUR=22
NIGHT_END_HOUR=6
NIGHT_GLOBAL_BRIGHTNESS=35

FREEZING_COLOR=0,0,255
COLD_COLOR=0,140,255
COOL_COLOR=0,255,255
COMFORTABLE_COLOR=0,255,80
WARM_COLOR=255,190,0
HOT_COLOR=255,90,0
VERY_HOT_COLOR=255,0,0

FEELSLIKE_COLOR=180,180,180
HIGH_TEMP_COLOR=255,80,0
LOW_TEMP_COLOR=0,120,255
RAIN_COLOR=0,90,255

HUMIDITY_0_COLOR=150,0,255
HUMIDITY_20_COLOR=0,0,255
HUMIDITY_40_COLOR=0,220,255
HUMIDITY_60_COLOR=0,255,80
HUMIDITY_80_COLOR=255,220,0
HUMIDITY_100_COLOR=255,0,0

BACKGROUND_COLOR=0,0,0

LAYOUT_LEFT_COLOR=255,0,0
LAYOUT_TOP_COLOR=0,255,0
LAYOUT_RIGHT_COLOR=0,0,255
TEST_PIXEL_COLOR=255,255,255
